body {
    margin: 0;
    height: 100vh;
    background: rgb(43, 43, 43);
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: auto auto auto;
}

h1 {
    color: cyan;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 1rem;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

main {
    grid-column: 2 /3;
    justify-self: center;
    align-self: center;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;

    background: cyan;
    border-radius: 50%;
    height: 390px;
    width: 390px;
}

.chronometer {
    background: rgb(43, 43, 43);
    /* size */
    height: 375px;
    width: 375px;
    border-radius: 50%;

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: cyan;
    margin: 0 0.5rem;
}

.dots {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
button {
    padding: 1rem;

    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: cyan;

    background-color: rgb(43, 43, 43);
    border-radius: 25px;
    border: solid 1px cyan;
}

button:hover {
    cursor: pointer;
    background: cyan;
    color: rgb(43, 43, 43);
}

button:focus {
    outline: none;
}

[disabled],
.paused {
    background: cyan;
    color: rgb(43, 43, 43);
}
