body {
    margin: 50px 5vw;
    min-height: 100vh;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: solid 1px lightslategray;
    border-bottom: solid 4px lightslategray;

    font-family: serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    background-color: rgba(199, 197, 197, 0.678);
}

button:hover {
    cursor: pointer;
    border-top: solid 2px lightslategray;
    border-bottom: solid 2px lightslategray;
    margin-bottom: 1px;
}

button:focus {
    outline: none;
}

div {
    height: 200px;
    width: 200px;
    background-color: white;
}
